@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "components/flex-row";

.pricing-page {
  $color-purple: #6e49cb;
  $color-purple-dark: darken($color-purple, 10%);
  $color-light: #868686;
  $color-tab-inactive: #999a99;
  $color-feature-unavailable: #a7a7a7;

  background-color: $color-white;
  color: $color-gray-dark;
  font-size: 14px;
  margin-bottom: -80px;
  padding-bottom: 115px;
  text-align: center;

  .btn {
    background-color: $color-purple;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 12px 16px;

    &:focus,
    &:hover {
      background-color: $color-purple-dark;
    }
  }

  a {
    color: $color-purple;
  }

  .header {
    margin-bottom: 32px;
    margin-top: 40px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
  }

  .container {
    width: auto;
  }

  .plans {
    justify-content: center;
  }

  .plan {
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: none;
    flex-direction: column;
    margin: 0 24px 24px 24px;
    padding: 0;
    overflow: hidden;

    @media (min-width: 992px) {
      margin: 0 8px;
      max-width: 300px;
    }

    .image {
      background-color: $body-bg;
      display: flex;
      height: 265px;
      padding: 0 48px;
      justify-content: center;
    }

    .content {
      border-bottom: 1px solid $border-color;
      display: flex;
      flex-direction: column;
      height: 330px;
      margin: 0 24px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin-top: 32px;
    }

    .description {
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
      margin-top: 8px;
    }

    .sub-description {
      font-size: 18px;
      margin-top: 8px;
    }

    .price {
      align-items: center;
      color: $color-purple;
      display: flex;
      font-size: 62px;
      font-weight: 700;
      height: 78px;
      justify-content: center;
      margin-top: 24px;
    }

    .price-monthly {
      line-height: 17px;
    }

    .price-annually {
      font-size: 12px;
      font-weight: 300;
      line-height: 17px;
    }

    .btn {
      margin-bottom: 24px;
      margin-top: auto;
    }

    .features {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 24px;
      text-align: left;
    }

    .feature-title {
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      list-style: none;
      margin-bottom: 24px;
      padding-left: 0;
    }

    li {
      border-bottom: 1px solid $border-color;
      margin-top: 0;
      padding: 16px 0;
    }

    .compare {
      color: $color-purple;
      margin-bottom: 0;
      margin-top: auto;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .customer-logos-container {
    padding: 80px 0 0;
  }

  .faq {
    margin-bottom: 80px;

    .faq-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
    }

    .faq-container {
      flex-grow: 1;
      text-align: left;

      @media (min-width: 992px) {
        max-width: 600px;
      }

      a {
        color: $color-gray-dark;
      }

      .faq-answer {
        ul {
          background: $color-gray-extra-light-alt;
          border-radius: 3px;
          padding: 1px 10px 10px 40px;
        }
      }
    }
  }

  .contact {
    h1 {
      margin: 0;
    }

    .btn {
      margin-top: 24px;
      width: 140px;
    }
  }

  .modal {
    .modal-dialog {
      align-items: center;
      display: flex;
      height: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }

    .modal-content {
      width: 100%;
    }

    .modal-header {
      border: 0;
      display: flex;
      justify-content: flex-end;

      .close {
        border: 0;
        font-size: 24px;
      }
    }

    &.buy-modal {
      .modal-header {
        padding: 10px 10px 0 16px;

        .close {
          margin-top: 0;
        }
      }

      .modal-body {
        display: flex;
      }
    }

    &.compare-modal {
      .modal-header {
        padding: 0;
        position: relative;

        .close {
          margin-top: 2px;
          margin-right: 6px;
          position: absolute;
          z-index: 200;
        }
      }

      .modal-body {
        display: block;
      }
    }

    .modal-body {
      padding: 12px 16px 24px 16px;

      .pricing-modal-hero {
        background-image: url("/images/code.png");
        //background: #333;
        padding: 42px 0;
        margin: 0 -16px;
        background-size: cover;
        background-repeat: no-repeat;
        color: $color-white;
        margin-bottom: 25px;
        position: relative;

        &::after {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          content: "";
          display: block;
          background: rgba(0, 0, 0, .55);
        }

        h2 {
          margin-top: 0;
          margin-bottom: 0;
          color: $color-white;
          position: relative;
          z-index: 20;
        }
      }

      .cta-block {
        display: flex;
        justify-content: space-around;
        margin: 25px 0px 0px 0px;

        @media (max-width: 500px) {
          flex-direction: column;
          text-align: center;
          justify-content: center; 
        }
      }

      .cta-hosted,
      .cta-self-managed {
        width: calc(48% - 30px);

        @media (max-width: 500px) {
          width: auto;
        }
      }

      .cta-hosted {
        @media (max-width: 500px) {
          margin: 0 auto 25px;
        }
      }

      .cta-self-managed {
        @media (max-width: 500px) {
          margin: 0 auto 5px;
        }
      }

      .intro-text {
        padding: 0 20px;
        font-size: 15px;

        p {
          font-size: 15px;
        }
      }

      .features-list {
        text-align: center;

        h4 {
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 14px;
          color: $color-light;
          font-weight: 700;
        }

        ul {
          text-align: center;
          list-style-position: inside;
          margin: 20px 0px 40px 0px;
          padding: 0;
        }

        li {
          font-size: 1.1em;
          list-style-type: none;
          line-height: 1.2;
        }
      }

      .hosted,
      .self-managed {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .hosted {
        border-right: 1px solid $border-color;
        padding-right: 16px;
      }

      .self-managed {
        padding-left: 16px;
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .subtitle {
        margin-bottom: 24px;
      }

      .logo {
        height: 80px;
        width: 80px;
        margin-bottom: 24px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .setup {
        color: $color-light;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .explanation {
        color: $color-light;
        flex-grow: 1;
        line-height: 18px;
        margin-bottom: 24px;
      }

      .button {
        white-space: nowrap;
        width: 100%;
      }

      .btn {
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}

// temporary per https://gitlab.com/gitlab-com/www-gitlab-com/-/merge_requests/69835

.pricing-page .experiment-test .plan .content {
  height: 360px;
}

.pricing-page .experiment-test .plan .price {
  margin-top: 15px;
}

// make the pricing lines similar height
.pricing-page .experiment-test .plan-free .price {
  margin-top: 37px;
}
