---
title: "3 Teams left Jenkins: Here’s why"
author: Brein Matturro
author_gitlab: bmatturro
categories: insights
image_title: '/images/blogimages/jenkins-to-gitlab-sailboat.jpg'
description: "How three different teams – Alteryx, ANWB, and EAB – shifted away from Jenkins for smoother
sailing with GitLab."
tags: user stories, performance, CI/CD
twitter_text: "Three teams left Jenkins for @gitlab: Here's why"
---

As many companies know, continuous integration and build processes are challenging. Complex tool
integrations, pieced-together pipelines, and overall system breakdowns are time consuming for
even the most experienced teams. The longer it takes for system recovery, the more costly it
becomes, creating more risk for the organization as a whole. Competitive companies are always on
the lookout for better solutions and they're increasingly turning to GitLab to do just that.

Three companies – Alteryx, ANWB, and EAB – all experienced unique challenges with Jenkins.
We highlight how each of these teams made the successful move to
[GitLab from Jenkins](/devops-tools/jenkins-vs-gitlab.html). Learn how each team
accelerated deployment, improved CI/CD pipelines, created developer transparency, and
alleviated toolchain stressors after making the switch to GitLab.

## Alteryx: Builds down from 3 hours to 30 minutes

Alteryx, a prominent end-to-end analytics platform, was using a legacy system with Jenkins
that was older, clunky, and difficult to manage. The team was looking to modernize their architecture
and to improve their overall software development lifecycle.

They turned to GitLab because it offers many solutions in one tool. With GitLab, the Alteryx team is now
capable of managing source code, CI/CD, code reviews, and security scanning all in one place.
A build that took three hours with Jenkins is now just 30 minutes in GitLab.

As Alteryx continues to grow in the analytics space, GitLab will continue to add new features
to support the company's expanding needs. Learn more about [Alteryx’s journey](/customers/alteryx/).

## ANWB: Increased deployments

With over 4.4 million members, ANWB offers services for credit cards, bicycle maintenance,
car sales, and travel throughout the Netherlands. Both the mobile and web development
teams have their hands full with popular offerings like mapping and driver intelligence services.

ANWB was struggling with an outdated toolchain that included Jenkins version 1 as a build server.
The company wanted to speed up development, eliminate isolated and outdated processes and give
its teams autonomy.

With GitLab, ANWB can now manage separate teams, increase deployments, and support a culture
where everyone contributes freely to colleagues' code repositories. ANWB has plans to move toward a
cloud-centric framework and GitLab has helped to pave that road. Learn more about [ANWB’s path to success](/customers/anwb/).

## EAB: "Quality first" culture

Serving over 1,500 schools, colleges, and universities, EAB uses data analytics and transformative
measures to help students stay enrolled in education. The EAB team had to rely on several tools,
including Jenkins, which made continuous integration overly complex and time consuming.
Developers wanted to consolidate their various tools to create faster builds with much less maintenance.

EAB initially turned to GitLab because of our regular feature releases and [tiered (and affordable) pricing](/pricing/).
The EAB development team soon realized they could have a steady pace of
build releases without having to use multiple tools to make it happen. In just six months, workflow increased
and the company plans to continue to roll out a "quality first" culture using GitLab as a guide.
Learn more about [EAB’s progress](/customers/EAB/).


<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
Watch the [Migrating from Jenkins to GitLab](https://www.youtube.com/watch?v=RlEVGOpYF5Y) demo
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Cover image by [Fab Lentz](https://unsplash.com/@fossy) on [Unsplash](https://unsplash.com)
{: .note}
